/* This file contains the CSS for the App.js file. It contains the CSS that will only be used in the App.js file. */
@import './colors.css';

.buttonGroup {
    position: relative;
    bottom: 0;
}

.heading {
    color: var(--whiteShade);
    text-shadow: 2px 2px 4px;
}

.mainDiv {
    height: 400px;
}

.pillar {
    width: 10px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 16px;
    display: inline-block !important;
    vertical-align: middle;
}